/* .form-control:focus {
  outline: none !important;
  border: 2px solid red;
  box-shadow: none;
  transition: border 0.3s ease-in-out;
} */

body {
  background: #f4f4f4;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container {
  max-width: 400px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50px;
  margin-bottom: -20px;
}
